header{
    color:white;
    background-color: rgb(66, 66, 184);
}

h1{
    text-align: center;
    padding: 10;
}

.haut
{
    display: flex;
    align-items: center;
    margin: 50px;


}
img{
    margin: 10px;

}

h2{ 
    /*float: right;*/
}